@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Workbench&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Workbench&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: "Kode Mono", monospace;
	box-sizing: border-box;
	--main-bg-color: rgba(255, 45, 43, .9);
}
.content-header{
	position: relative;
	width: 100vw;
    height: 56px;
    background-color: var(--main-bg-color);
    margin: 0;
    border-bottom: 2px solid gold;
    display: flex;
}
.header-menu{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
	padding-left: 10px;
}
.home-icon{
	width: 40px;
	height: 40px;
}
.company-name{
	font-size: 20px;
	font-weight: 300;
	color: lemonchiffon;
}
.header-search{
	margin: 0 auto;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-search-input{
	height: 38px;
	width: 400px;
	padding: 10px;
    border-radius: 10px 0 0 10px;
}
.search-button{
	height: 38px;
	width: 38px;
	padding: 6px;
	border-radius: 0 10px 10px 0;
}
.company-name{
	font-family: "Libre Caslon Text", serif;
}
.request-format{
	padding-left: 20px;
}
.general-content{
	position: relative;
    display: inline-block;
    width: 100vw;
    height: 100vh;
}
.content-figure{
    width: 100vw;
    height: 100vh;
}
.content-figure-image{
	display: block;
	width: 100%;
	height: 100%;
}
.main-content{
	position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .5);
    z-index: 1;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    overflow: auto;
}
.films-table {
	margin: 30px auto;
  	width: 80%;
  	border-collapse: collapse;
  	margin-bottom: 20px;
  	border-radius: 20px;
}
.films-table thead{
	background-color: black;
}
.films-table th,
.films-table td {
  font-family: georgia, arial; 
  padding: 8px; 
  border:  2px solid green; 
}
.films-table th{
	font-weight: 250px;
	
}
.nav-menus{
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 20px; 
	font-weight: 200;
	text-decoration: none;
	display: flex;
	height: inherit;
    justify-content: center;
    align-items: center;   
}
.nav-menus a{
	padding-left: 10px;
	color: lemonchiffon;
}
.table-anchor a{
	color: cyan;
	text-decoration: none;
}
.noborder{
	border: none;
}
/**/

.filter-section {
    max-width: 80vw;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.filter-section-form {

}
.filter-search-input{
	padding-bottom: 20px;
}
.filter-search-input{
	width: 80%;
	padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
 .filter-section label {
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

.filter-section-form-box{
	display: flex;
	justify-content: space-between;
}
.filter-section-form-box-item{
	width: 50%;
}

.filter-section-input {
    width: 300px;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.filter-section-button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-section-button:hover {
    background-color: #0056b3;
}
.general-footer{
	background-color: var(--main-bg-color);
	width: 100vw;
	height: 250px;
	padding: 10px;
}
.disclaimer {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-top: 10px;
    transition: opacity 0.5s ease-in-out; /* Add a smooth opacity transition */
    opacity: 1; /* Initial opacity value */
}
.disclaimer.hidden {
    opacity: 0;
}
.pagination {
    width: 80vw;
    margin: 20px auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
 .pagination-anchor {
    text-decoration: none;
    padding: 8px 12px;
    margin: 4px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 18px;
}
.pagination a {
	color: black;
}
.pagination a:hover {
    background-color: #f5f5f5;
}

.pagination .current-page {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}


.film-form {
    max-width: 70vw;
    margin: 40px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

.form-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.form-submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-submit:hover {
    background-color: #0056b3;
}
